<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="vue/dist/vue.js"></script>
    <script type="text/javascript" src="element-ui/lib/index.js"></script>
    <script type="text/javascript" src="jquery/jquery-3.1.1.js"></script>
    <style>
        .el-row {
            margin-bottom: 20px;
        &:last-child {
             margin-bottom: 0;
         }
        }
        .login-box {
            margin-top:20%;
            margin-left:40%;
        }
    </style>
</head>
<body>
<div class="login-box" id="app" >
    <el-row>
        <el-col :span="8">
            <el-input id="userName"  v-model="userName" placeholder="请输入帐号">
                <template slot="prepend">帐号</template>
            </el-input>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="8">
            <el-input id="password" v-model="password" type="password" placeholder="请输入密码">
                <template slot="prepend">密码</template>
            </el-input>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="8">
            <el-button id="login" v-on:click="check" style="width:100%" type="primary">登录</el-button>
        </el-col>
    </el-row>
</div>
</body>

<script type="text/javascript">
    new Vue({
        el : '#app',
        data : {
            userName : '',
            password : ''
        },
        methods : {
            check : function(event){
                //获取值
                var userName = this.userName;
                var password = this.password;
                if(userName == '' || password == ''){
                    this.$message({
                        message : '账号或密码为空！',
                        type : 'error'
                    })
                    return;
                }
                $.ajax({
                    url : 'user/login',
                    type : 'post',
                    data : {
                        userName : userName,
                        password : password
                    },
                    success : function(data) {
                        var result = data.result;
                        if(result == 'true' || result == true){
                            alert("登录成功");
                        }else {
                            alert("登录失败");
                        }
                    },
                    error : function(data) {
                        alert(data);
                    },
                    dataType : 'json',
                })
            }
        }
    })

</script>
</html>